.accordion {

	&__item {
		
		&:focus-within {
			outline-width: 2px;
    		outline-style: solid;
			outline-color: inherit;
		}

		&:hover {
			.accordion__title {
				text-decoration: underline;
			}
		}
	}
	
	&__title {
		// Button reset
		background: none;
		color: inherit;
		border: none;
		font: inherit;
		cursor: pointer;
		outline: none;

		// Additional styles for the title
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		text-align: left;

		&:focus {
			text-decoration: underline;
		}

		&--text {
			padding-right: 2.25rem;
		}
	}

	// Shared styles for toggle pseudo-elements
	%toggle-pseudo {
		content: '';
		position: absolute;
		transition: all 0.3s ease;
	}

	&__toggle {
		width: 1.5rem;
		height: 1.5rem;
		position: relative;
		transition: transform 0.3s ease;

		&::before {
			@extend %toggle-pseudo;
			top: 50%;
			left: 50%;
			width: 0.625rem;
			height: 0.625rem;
			border-right: 2px solid currentColor;
			border-bottom: 2px solid currentColor;
			transform: translate(-50%, -75%) rotate(45deg);
		}

	}



	&__content {
		margin-top: 0.5rem;
	}

	&__item.is-active {

		.accordion__content {
			height: auto;
		}

		.accordion__toggle::before {
			transform: translate(-50%, -25%) rotate(-135deg);
		}
	}

	/* Block Styles
	*******************************************************/

	// Styles for the plus-minus toggle
	&.is-style-plus-minus {
		.accordion__toggle {
			&::before,
			&::after {
				@extend %toggle-pseudo;
				background-color: currentColor;
				top: 50%;
				left: 50%;
			}

			&::before {
				width: 0.9375rem;
				height: 0.125rem;
				transform: translate(-50%, -50%);
				border-bottom: none;
			}

			&::after {
				width: 0.125rem;
				height: 0.9375rem;
				transform: translate(-50%, -50%);
			}
		}

		.accordion__item.is-active .accordion__toggle::after {
			transform: translate(-50%, -50%) rotate(90deg);
		}
	}
	
	// Styles for the chevron right toggle
	&.is-style-chevron-right {
		.accordion__toggle::before {
			@extend %toggle-pseudo;
			top: 50%;
			left: 50%;
			width: 0.625rem;
			height: 0.625rem;
			border-right: 2px solid currentColor;
			border-bottom: 2px solid currentColor;
			transform: translate(-75%, -50%) rotate(-45deg);
		}

		.accordion__item.is-active .accordion__toggle::before {
			transform: translate(-25%, -50%) rotate(-135deg);
		}
	}
}